<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul><a href="/index">Página principal</a></ul>
      <ul><a href="/contacto">Contactos</a></ul>
      <ul><a href="/caracteristicas">Características</a></ul>
      <ul><a href="/prueba">Soy pruebas</a></ul>
    </nav>
    {{{body}}}
  </body>
</html>
